.heading{
  margin-left: 50px;
  margin-top: 50px;
}

.product{
  font-size: 40px;
  font-weight: bold;
}

.shop{
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 0.45rem .75rem;
  background-color: lightgoldenrodyellow;
  color: rgb(128, 74, 74);
  border-radius: 50px;
  border: 1px solid rgb(235, 235, 235);
  display: inline-block;
  width: fit-content;
  margin-bottom: 19px;
}

.text{
  margin-top: 25px;
  color: #59625c;
  font-size: 18px;
}

.catalog{
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  
}
.image{
  
  object-fit: cover;
  width: 90%;
  height: 250px; 
  border-radius: 12px;
}
.title {
  font-size: 32px;
  margin-bottom: 24px;
}
.card{
  padding: 20px 12px 20px 45px; 
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease;
}
.card:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.price{
  font-weight: bold;
  margin-top: 12px;
}
.main{
  background-color: #f7f4ee;
  min-height: 93vh;
}