.heading{
  font-size: 40px;
  font-weight: bold;
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}
.catalog{
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  
}
.image{
  
  object-fit:"cover";
  width: 90%;
  height: 250px; 
  border-radius: 12px;
}
.title {
  font-size: 32px;
  margin-bottom: 24px;
}
.card{
  padding: 20px 12px 20px 45px; 
  border: 1px solid #ddd;
  border-radius: 10px;
}
.price{
  font-weight: bold;
  margin-top: 12px;
}